{
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "bracketSpacing": false,
  "printWidth": 80,
  "proseWrap": "always",
  "semi": true,
  "singleQuote": false,
  "tabWidth": 4,
  "trailingComma": "all",
  "overrides": [
    {
      "files": [".eslintrc", ".prettierrc", "**/*.json", "**/*.yml"],
      "options": {"tabWidth": 2}
    }
  ]
}
